<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="32000">
    <setting type="action"
             label="32001"
             action="RunScript($CWD/libs/commands.py,login)" />
    <setting type="action"
             label="32002"
             action="RunScript($CWD/libs/commands.py,sync_library)" />
    <setting type="action"
             label="Upload new video items data to next-episode.net"
             action="RunScript($CWD/libs/commands.py,sync_new_items)" />
    <setting label="Prompt" type="bool" id="prompt_shown" default="false" visible="false" />
  </category>
</settings>
